---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "About | Andrew Marquez";
const description = "About Andrew Marquez";
const permalink = `${import.meta.env.SITE}/about`;
---

<BaseLayout {title} {description} {permalink}>
  <div>About Andrew Marquez</div>
</BaseLayout>
