---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Blog | Andrew Marquez";
const description = "Andrew Marquez's blog.";
const permalink = `${import.meta.env.SITE}/blog`;
---

<BaseLayout {title} {description} {permalink}>
  <main>
    <div>
      <p>Articles:</p>
      <ul>
        <li>Post 1</li>
        <li>Post 2</li>
        <li>Post 3</li>
      </ul>
    </div>
  </main>

  <style></style>
</BaseLayout>
