---
import BaseLayout from "../layouts/base.astro";

const title = "Andrew Marquez";
const description = "Andrew Marquez's personal website";
const permalink = import.meta.env.SITE;
---

<BaseLayout {title} {description} {permalink}>
  <main>
    <h1>
      Welcome to Andrew Marquez's website
    </h1>
  </main>
</BaseLayout>

<style>
</style>
