---
import { Image } from "astro:assets";
import profileImage from "../assets/profile-4x5.jpg";
import PostsList from "../components/PostsList.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Andrew Marquez";
const description = "Andrew Marquez's personal website";
const permalink = import.meta.env.SITE;
---

<BaseLayout {title} {description} {permalink}>
  <Image src={profileImage} alt="Headshot of Andrew Marquez" class="w-40" />
  <p>I am Andrew Marquez. Thanks for checking out my webpage!</p>
  <h2 class="text-2xl">Blog Posts</h2>
  <PostsList />
</BaseLayout>
