---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Andrew Marquez - Writings";
const description = "Writings for Andrew Marquez's personal website";
const permalink = import.meta.env.SITE;
---

<BaseLayout {title} {description} {permalink}>
  <main>
    <div>
      <p>Articles:</p>
      <ul>
        <li>Post 1</li>
        <li>Post 2</li>
        <li>Post 3</li>
      </ul>
    </div>
  </main>

  <style></style>
</BaseLayout>
