---

---

<header class="text-xl">
  <nav class="flex gap-4 justify-center sm:justify-normal">
    <a href="/">Andrew Marquez</a>
    <a href="/about">About</a>
    <a href="/writings">Writings</a>
  </nav>
</header>
