---
import { getCollection } from "astro:content";

export type Props = {};
const {} = Astro.props;

const posts = await getCollection("posts");
---

<ul>
  {
    posts.map((post) => (
      <li>
        <a href={`/posts/${post.slug}`}>{post.data.title}</a>
        <hr />
        <time>{post.data.pubDate}</time>
      </li>
    ))
  }
</ul>
