---
import BaseHead, {
  type Props as BaseHeadProps,
} from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import "../styles/main.scss";

type Props = BaseHeadProps & {};

const { title, description, permalink } = Astro.props;
---

<!doctype html>
<html lang="en">
  <BaseHead {title} {description} {permalink} />
  <body>
    <main class="max-w-prose p-2 m-auto">
      <h1 class="text-3xl">
        <a href="/" title="Andrew Marquez">Andrew Marquez</a>
      </h1>
      <slot />
      <Footer />
    </main>
  </body>
</html>
