---
import BaseHead, {
  type Props as BaseHeadProps,
} from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import "../styles/main.scss";

type Props = BaseHeadProps & {};

const { title, description, permalink } = Astro.props;
---

<!doctype html>
<html lang="en">
  <BaseHead {title} {description} {permalink} />
  <Header />
  <body class="p-40">
    <slot />
  </body>
</html>
